body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://images.pexels.com/photos/7302087/pexels-photo-7302087.jpeg?cs=srgb&dl=pexels-cup-of-couple-7302087.jpg&fm=jpg");
  background-color: Beige;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: black;
  margin: 0 0 5px;
}

.page-subtitle {
  color: black;
  margin-top: 5px;
}
page-logo {
  width: 200px;
}

body > img {
  margin: 0 10px;
}

img {
  max-height: 250px;
}
